/* Write your CSS here */
.summary {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  padding: 15px;
  font-family: Roboto;
}

.order {
  color: #616e7c;
  font-size: 23px;
  margin-bottom: 10px;
}

.total {
  color: #171f46;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 10px;
}

.items {
  color: #616e7c;
  font-size: 15px;
  margin-bottom: 15px;
}

.check-out {
  background-color: #0b69ff;
  color: #ffffff;
  font-size: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
}
